.container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    background-image: url('../../assets/images/pattern.jpg');
    overflow-y: scroll;
    border-radius: 5px;
    position:static;
}

.cards_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    flex-grow: 1;
    padding-top: 20px;
}

.filters_continer {
    display: flex;
    width: 100%;
}

.filter_buttons {
    cursor: pointer;
    padding: 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.list_options {
    width: 100%;
    background-color: rgb(29, 31, 49);
    bottom: 0;
    position: sticky;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.addContact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 14, 14);
}