.card {
    width: 100%;
    padding: 20px;
    height: fit-content;
    /* border: 1px solid rgba(255, 0, 0, 0.712); */
    border-radius: 10px;
    box-shadow:  0px 0px 5px 1px #0000000d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(254, 254, 254, 0.377);
}
.container:hover{
    box-shadow: 0px 0px 8px 1px #88888832;
}
.dis_none{
    display: none;
}
.container_left{
    display: flex;
    align-items: center;
    gap:20px ;
}
.container_right{
    display: flex;
    gap: 20px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}